# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/TinyGP/Data/
/TinyGP/Output/
/TinyGP/Data/pythonData/
/.idea/
/Excel/Sheets/
*.ot
/BigGpInterpreter/src/EdWard/EdWard/
/BigGpInterpreter/.idea/.gitignore
/BigGpInterpreter/.idea/
/BigGp/target/
/BigGp/SavedStuff/
